

<div>
    <h2>Youtube Videos</h2>
    <button class="btn btn-primary col-md-2"[routerLink]="['/video-form']" >Add New </button>
  
  </div>
  <div>
    <div>
<input type="text"  (input)="searchVideo($event)" class="form-control mr-2" placeholder="Search with  Id">
    
    </div>
  </div>
  
  
  <div >
    <table class="table">
      <thead>
        <th>Youtube Id</th>
        <th>Video Name</th>
        <th>Title</th>
        <th>Video Type</th>
        <th>Videos Rating</th>
        <th>Date Of Post</th>
        <th>Action</th>
    
      </thead>
      <tbody>
        <tr *ngFor="let video of filteredVideos$ | async">
          <td>{{video.youtubeId}}</td>
          <td>{{video.videoName}}</td>
          <td>{{video.title}}</td>
          <td>{{video.videoType}}</td>
          <td>{{video.videosRating}}</td>
          <td>{{video.dateOfPost}}</td>

          <td>
            <button [routerLink]="['/video-details/', video.id]" class="btn btn-info btn-sm">View</button>
          </td>
        </tr>
      </tbody>
    </table>
    
  </div>
  